* {
  margin: 0px;
  padding: 0px;
  font-family: Avenir, "Trebuchet MS", sans-serif;
}

.details {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}

h1 {
  margin-bottom: 15px;
}

p {
  font-size: 1.3em;
}
