* {
  margin: 0px;
  padding: 0px;
  font-family: Avenir, "Trebuchet MS", sans-serif;
}

h1 {
  margin-bottom: 15px;
}

fieldset {
  display: inline-block;
  padding: 20px;
  border: none;
}

label {
  padding: 4px 8px;
}

input {
  margin-bottom: 10px;
  padding: 4px 8px;
  font-size: 1em;
}

button {
  width: 100%;
  padding: 4px 8px;
  font-size: 1em;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 2px;
}
